.item {
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}
.del{
 color: red;
  cursor: pointer;
  line-height: 1.5;
  margin-left: 10px;
}